body {
    background-color: #f2f2f2 !important;
}

header .current-menu-item a:hover {
    color: var(--wp--preset--color--primary-dark-blue) !important;
}

footer .kb-nav-link-content {
    color: #fff !important;
}
footer .kb-nav-link-content:hover {
    color: var(--wp--preset--color--primary-dark-blue) !important;
}